<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your track</title>
    <link rel="stylesheet" href="../css/track.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div id="container">
        <div class="sidebar">
            <div class="app_name">
                <img src="../images/timer lgo.png" alt="LOGO">
            </div>

            <ul class="menu">
                <a href="">
                    <i class='bx bx-timer' style='color:#ffffff'></i>
                    <li>Track</li>
                </a>
                <a href="">
                    <i class='bx bx-briefcase' style='color:#ffffff'></i>
                    <li>Projects</li>
                </a>
                <a href="">
                    <i class='bx bx-folder'></i>
                    <li>Clients</li>
                </a>
                <a href="">
                    <i class='bx bx-group' style='color:#ffffff'></i>
                    <li>Team</li>
                </a>
            </ul>

            <div class="sidebar-footer">
                <div class="profile">
                    <div class="profile-img">
                        <img src="../images/real timer sqr.png" alt="">
                    </div>
                    <h4 class="profile-name">Mohammad Gauhar</h4>
                </div>
                <button id="logout">Logout</button>
            </div>
        </div>
        <div class="main">

        </div>
    </div>
</body>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</html>